.taskBoard-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0;
  flex: 1;
}
.taskBoard-wrapper .taskBoard-header {
  height: 86.5px;
  padding: 0 16px;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
}
.taskBoard-wrapper .taskBoard-header .taskBoard-function {
  display: flex;
  align-items: center;
  gap: 16px;
}
.taskBoard-wrapper .taskBoard-header .taskBoard-function .taskBoard-function-createFn {
  text-align: center;
  cursor: pointer;
  width: 80px;
  padding: 9px 14px;
}
.taskBoard-wrapper .taskBoard-header .taskBoard-function .taskBoard-function-filters {
  display: flex;
}
.taskBoard-wrapper .taskBoard-header .taskBoard-function .taskBoard-function-filters .taskBoard-function-duration {
  cursor: pointer;
  width: 106px;
  height: 34px;
  border-radius: 4px;
  border: 1px solid #D9D9D9;
  margin-right: 8px;
}
.taskBoard-wrapper .taskBoard-header .taskBoard-function .taskBoard-function-filters .taskBoard-function-query {
  display: flex;
  align-items: center;
  width: 386px;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  padding: 4px;
  background-image: url(../../../../static/dashboard/search.png);
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 16px;
}
.taskBoard-wrapper .taskBoard-header .taskBoard-function .taskBoard-function-filters .taskBoard-function-query select {
  padding-right: 16px;
  height: 100%;
  background-color: #e3e4e6;
  border-radius: 4px;
  margin-right: 8px;
  color: #333;
  background-image: url(../../../../static/common/select-icon-dark.png);
  background-position: right 8px center;
}
.taskBoard-wrapper .taskBoard-header .taskBoard-function .taskBoard-function-filters .taskBoard-function-query input {
  flex: 0.9;
  background-color: rgba(0, 0, 0, 0);
}
.taskBoard-wrapper .taskBoard-header .taskBoard-function .taskBoard-function-filters .taskBoard-function-query .queryFor-desc {
  width: 12px;
  height: 12px;
  border-radius: 8px;
  background-color: #cccccc;
  background-image: url(../../../../static/dashboard/help.png);
  background-repeat: no-repeat;
  background-position: top -0.5px left -0.5px;
  background-size: 12px;
}
.taskBoard-wrapper .boardList-content li {
  cursor: pointer;
  height: 56px;
  line-height: 32px;
  background-color: #fff;
}
.boardList-noData {
  text-align: center;
  display: block;
  padding: 16px;
}
