.prompt-wrapper {
  z-index: 2;
  position: absolute;
  top: 48px;
  left: 50%;
  display: flex;
  align-items: center;
  gap: 12px;
  transform: translate(-50%, 0);
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 0 36px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.prompt-wrapper img {
  width: 20px;
  height: 20px;
}
.prompt-enter {
  transform: translate(-50%, -100%);
  opacity: 0;
}
.prompt-enter-active {
  transform: translate(-50%, 0);
  opacity: 1;
  transition: transform 300ms ease-out, opacity 300ms ease-out;
}
.prompt-exit {
  opacity: 1;
}
.prompt-exit-active {
  transform: translate(-50%, -100%);
  opacity: 0;
  transition: transform 300ms ease-out, opacity 300ms ease-out;
}
