.createTask-wrapper {
    position: relative;

    .createTask-header {
        display: flex;
        align-items: center;

        h3 {
            font-size: 24px;
        }

        a {
            width: 24px;
            height: 24px;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }

    .createTask-content {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
    }
    
    .createTask-content-submit {
        width: 100%;
        height: 68px;
        border-radius: 0 0 4px 4px;
        border-top: none;
        
        button {
            position: absolute;
            right: 16px;
        }
    }
}