.mytask-wrapper .mytask-content {
  padding: 0;
}
.mytask-wrapper .mytask-content .mytask-filters {
  display: flex;
  column-gap: 16px;
  padding: 16px;
}
.mytask-wrapper .mytask-content .mytask-filters span {
  font-size: 14px;
}
.mytask-wrapper .boardList {
  height: calc(100vh - 158px);
}
